
<% @products.each do |product| %>
	<div class="product-container">
		<a href="<%= product.url %>">
			<div class="product-header">	
				<h3><%= product.title %></h3>
			</div>
			<div class="product-image">
				<img src="<%= product.image %>"/>
			</div>
			<div class="product-footer">
				<p>Price: $<%= product.price %></p>
			</div>
		</a>
	</div>	
<% end %>